requests>=2.0,<3.0
ppp_datamodel>=0.6.11
nltk>=3.0,<4.0
dateparser>=0.5,<0.6
ppp_cas>=0.8
langdetect>=1.0,<2.0
PyLD>=0.7,<0.8
Flask>=0.12
flask-swaggerui>=0.0.1
flask-cors>=3.0,<4.0
sympy>=1.0,<2.0
ply>=3.6,<4.0